body
{
  background-image: url("../img/bright_squares.png");
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  margin-bottom: 110px;
}

#header
{
  display: inline-block;
  font-size: 75px;
  margin: 10px;
  width: 1000px;
  height: 100px;
  text-align: center;
}

#header:hover
{
  background: rgba(208, 208, 225, 0.4);
  cursor: default;
}

a
{
  color: #000000;
  text-decoration: none;
}

a:hover
{
  color: #7575a3;
  text-decoration: none;
}

#header a
{
  font-size: 50px;
}

#diagram
{
  display: inline-block;
  margin: 5px;
  transition: all 0.18s ease-in-out;
}

#diagram:hover
{
  -webkit-transform: scale(1.2) translateY(30px);
  -ms-transform: scale(1.2) translateY(30px);
  transform: scale(1.2) translateY(30px);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 30px white;
	-moz-box-shadow: 0px 0px 30px 30px white;
	box-shadow: 0px 0px 50px 40px white;
}

#appbutton
{
  margin-left: auto;
  margin-right: 40px;
  width: 200px;
}

input
{
  font-family: inherit;
}

input[type=submit]
{
  width: 200px;
  height: 50px;
  background-color: #9ce29f;
  font-size:30px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 3px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input[type=submit]:focus
{
  -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
  -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
  box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
  color: white;
  font-size:35px;
  border-radius: 20px;
  background-color: #37b93d;
}

#skrypt
{
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  transition: all 0.8s ease-in-out;
  width: 300px;
  height: 60px;
}

#skrypt:hover
{
  background: rgba(208, 208, 225, 0.5);
  -webkit-transform: rotate(5deg) scale(2.0) translateY(-10px) translateX(20px);
  -ms-transform: rotate(5deg) scale(2.0) translateY(-10px) translateX(20px);
  transform: rotate(5deg) scale(2.0) translateY(-10px) translateX(20px);
  letter-spacing: 4px;
  width: 350px;
}


#footer
{
  width: 1000px;
  height: 30px;
  letter-spacing: 5px;
  background: rgba(208, 208, 225, 0.5);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;

}

#footer:hover
{
  background: rgba(208, 208, 225, 0.6);
  width: 400px;
  height: 50px;
  padding: 15px;
  -webkit-transform: scale(2.5) translateY(-30px);
  -ms-transform: scale(2.5) translateY(-30px);
  transform: scale(2.5) translateY(-30px);
  cursor: default;
}

#author
{
  float: left;
  margin-left: 20px;
}

#github
{
  float: right;
  margin-right: 20px;
}

